/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <zmk/battery.h>
#include <zmk/display.h>
#include <zmk/events/layer_state_changed.h>
#include <zmk/keys.h>
#include <zmk/keymap.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

// Define the custom key behavior for capturing a screen portion

#define KC_CPYP LGUI(LSFT(LCTL(KC_4)))  // Copy portion of screen

behavior_cmd_sticky: sticky_cmd {
    compatible = "zmk,behavior-sticky-key";
    label = "CMD Sticky";
    bindings = <&kp LGUI>;
};

behavior_shift_sticky: sticky_shift {
    compatible = "zmk,behavior-sticky-key";
    label = "Shift Sticky";
    bindings = <&kp LSHIFT>;
};

/ {
    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base Layer

        default_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E           &kp R     &kp T        &kp Y      &kp U  &kp I              &kp O    &kp P      &kp BACKSLASH
&kp TAB    &kp A  &kp S  &kp D           &kp F     &kp G        &kp H      &kp J  &kp K              &kp L    &kp PLUS   &kp MINUS
&kp LCTRL  &kp Z  &kp X  &kp C           &kp V     &kp B        &kp N      &kp M  &kp COMMA          &kp DOT  &kp QMARK  &kp DEL
                         &kp LEFT_SHIFT  &kp BSPC  &kp SPACE    &kp ENTER  &mo 1  &kp RIGHT_COMMAND
            >;
        };

        // Layer 1: Numpad Layer

        numpad_layer {
            bindings = <
&kp EXCL  &kp AT    &kp HASH  &kp DOLLAR                         &kp CARET  &kp AMPS     &kp PRCNT  &kp KP_N7        &kp KP_N8        &kp KP_N9  &kp KP_MULTIPLY  &kp KP_DIVIDE
&kp LPAR  &kp RPAR  &kp LT    &kp UP                             &kp GT     &kp GRAVE    &kp APOS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_N6  &kp PLUS         &kp MINUS
&kp LBKT  &kp RBKT  &kp LEFT  &kp DOWN                           &kp RIGHT  &kp SEMI     &kp COMMA  &kp KP_NUMBER_7  &kp KP_N8        &kp KP_N9  &kp KP_DOT       &kp KP_EQUAL
                              &behavior_shift_sticky LEFT_SHIFT  &kp BSPC   &kp TAB      &kp ENTER  &mo 2            &kp KP_N0
            >;
        };

        // Layer 2: Shortcuts Layer

        shortcuts_layer {
            bindings = <
&kp C_PWR     &rgb_ug RGB_TOG     &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &kp C_AC_SEARCH  &kp PAGE_UP    &kp PSCRN           &kp ESC    &kp F7  &kp F8      &kp F9  &kp C_BRIGHTNESS_INC  &kp C_VOL_UP
&kp TAB       &kp K_CONTEXT_MENU  &none                              &none            &kp PAGE_DOWN  &none               &kp HOME   &kp F4  &kp F5      &kp F6  &kp C_BRIGHTNESS_DEC  &kp C_VOL_DN
&kp LEFT_ALT  &kp C_PREV          &none                              &none            &none          &kp C_NEXT          &mo 0      &kp F1  &kp F2      &kp F3  &kp C_PLAY_PAUSE      &kp END
                                                                     &kp LEFT_SHIFT   &kp BSPC       &kp LEFT_COMMAND    &kp ENTER  &mo 1   &kp C_MUTE
            >;
        };
    };
};
